* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 20px;
}

#score {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    margin-left: 25px;
}

#countdown {
    text-align: right;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
    font-size: medium;
}

h1 {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    margin-top: 100px;
}

.rules {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align: center;
    margin-top: 15px;
    margin-left: 33%;
    margin-right: 33%;
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
    width: 115px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-left: 44%;
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: plum;
}