* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

#high-score {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    margin-left: 25px;
}

.timer {
    text-align: right;
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
    font-size: medium;
}

h1 {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    margin-top: 100px;
}

.rules {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align: center;
    margin-top: 15px;
    margin-left: 33%;
    margin-right: 33%;
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
    width: 115px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-left: 44%;
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: plum;
}

#quiz {
    display: none;
    margin: 100px;
    margin-left: 40%;
    margin-right: 35%;
    font-family: Arial, Helvetica, sans-serif;    
}

#question {
    font-size: x-large;
    font-weight: bold;
}

.option-1, .option-2, .option-3, .option-4{
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 30px;
    background-color: blueviolet;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 7px;
    color: white;
    font-size: small;
}

.option-1:hover {
    background-color: plum;
}

.option-2:hover {
    background-color: plum;
}

.option-3:hover {
    background-color: plum;
}

.option-4:hover {
    background-color: plum;
}

#score {
    display: none;
}

